@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 211 100% 50%;
  --primary-foreground: 0 0% 100%;

  --secondary: 208 7% 52%;
  --secondary-foreground: 0 0% 100%;

  --muted: 210 17% 98%;
  --muted-foreground: 211 100% 35%;

  --accent: 139 60% 40%;
}
